* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:inherit;
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight:400;

    background-color: #eeeef0;
}

.container {
    width: 65%;
    max-width: 1280px;
    margin: 0 auto;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px 0 15px 0;

}

h3::after {
    content: " ";
    display: block;
    height: 1px;
    width: 90px;
    background: black;

}



/*---------------------HEADER---------------------------------------------*/

.person_info .container {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.person_info .photo {
    margin-right: 70px;

    height: 300px;
}

.photo img {
    width: 400px;
    height: 300px;
}

.person_info .name {
    font-weight: 300;
    font-size: 58px;
    line-height: 0.9;

    margin-bottom: 20px;
}

.person_info .position {
    font-weight: 300;
    font-size: 26px;
    color: grey;
}

.pink_font {
    color: #efa09b;
}

/*-------------------------Contacts---------------------------------------------*/

.contacts {
    background-color: #efa09b;
    color: white;
}

.contacts .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;

    font-size: 16px;
}

.ico {
    width:20px;
    height: 20px;

    margin-right: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mail, .phone, .telegram, .github {
    display: flex;
    align-items: center;

}

.ico_mail {
background-image: url(../images/ico-mail.png);
}

.ico_phone {
    background-image: url(../images/ico-phone.png);
    }

.ico_telegram {
    background-image: url(../images/ico-telegram.png);
        }

.ico_git {
    background-image: url(../images/ico_git.png);
            }



/*-------------------CV CONTENT------------------------------------*/

.cv_content .container {
    display: flex;

    font-size: 18px;

}


.sidebar_info {
    width: 400px;
    margin-right: 70px;
}


/*------------------About block------------------------------------*/
.about {
    background-color: #212121;
    color: white;
    font-size: 14px;

    padding: 0 15px 15px 15px;
}

.about h3::after {
    background: #efa09b;  
}


/*------------------Education block------------------------------------*/

.education {
    height: 300px;
    margin: 100px 0 25px 0;
    padding: 0 15px 15px 15px;

    border-left: 3px solid #efa09b;
    border-right: 3px solid #efa09b;
}


.education__item:not(:last-child) {
    margin-bottom: 20px;
}

.education .pink_font {
    font-size: 20px;
}


/*-----------------Skills block-----------------------------------*/

.skills li {
    list-style-position: inside;
    list-style-type: circle;
}

.skills li:not(:last-child) {
    margin-bottom: 10px;
}

.skills__item .progress {
    display: inline-block;
    height:4px;
    width:150px;
    margin-left: 10px;
    background-color: silver;

    vertical-align: middle;
}

.html::before,
.vs::before,
.git::before,
.js::before,
.figma::before     {
  content: "";
  display: block;
  height: 100%;
  background: #efa09b;
}

.html::before {
    width: 80%;
}

.vs::before {
    width: 90%;
}

.js::before{
    width: 40%;
}

.git::before {
    width: 40%;
}

.figma::before {
    width: 60%;
}

/*------------------Code example------------------------------------*/

.code_example {
    margin: 40px 0 20px 0;
}
.code_example .js_code {
    font-size: 14px;

    background-color: #fff;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}


/*------------------Language------------------------------------*/

.lang {
    margin-bottom: 10px;
}

.lang__item .pink_font {
    margin-left: 10px;
}